<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>AR视界</title>
    <link type="text/css" rel="stylesheet" href="../css/common.css">
</head>

<body>
    <div class="wrap">
        <video id="video"></video>
        <div id="container"></div>
        <div class="load">
            <img src="../images/loading.png">
        </div>
    </div>
    <script src="../plugins/jquery-1.10.2.min.js"></script>
    <script src="../plugins/html2Canvas.min.js"></script>
    <script src="../js/index.js"></script>
    <script type="module" src="../js/control.js"></script>
</body>

</html>